@headerBg: #162B4D;
@headerColor: #162B4D;
@textColor: rgba(22, 43, 77, 0.64);
@buttonColor: #0065FF;
@buttonColorHover: #1e6fe7;
@buttonText: white;
@subtitleColor: #58D9A3;
@sectionBg: #F4F5F7;
@heroBg: #58D9A3;
@footerBg: #162B4D;
@sectionDefaultBg: white;

@breakpoint-tablet: 768px;
@breakpoint-phone: 480px;
