</main>

<footer>
    <div class="footer-wrapper">
        <div class="footer-wrapper__block footer-wrapper__block--copyright">
            © 2018 rates down Inc. All rights reserved.
        </div>
        <div class="footer-wrapper__block footer-wrapper__block--links">
            <ul>
                <li>
                    <a href="/fourth.html">Contacts</a>
                </li>
                <li>
                    <a href="/second.html">Backstory</a>
                </li>
                <li>
                    <a href="/fith.html">Terms of use</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script src="js/script.min.js"></script>
</body>
</html>
