<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RatesDown</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,500i|Montserrat:400,500,500i,700" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet" />
    <link rel="icon" sizes="64x64" href="images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#162B4D" />
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="application-name" content="RatesDown"/>
    <meta name="msapplication-TileColor" content="#162B4D"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#162B4D">

</head>
<body>

<header>
    <div class="header-wrapper">
        <a href="/index.html" class="header-wrapper__menu-section header-wrapper__menu-section__logo">
            <img src="images/logo.svg" />
            Notify
        </a>
        <div class="right-menu" id="menu-mobile">
            <div class="header-wrapper__menu-section header-wrapper__menu-section__menu">
                <ul>
                    <li>
                        <a href="/second.html">Backstory</a>
                    </li>
                    <li>
                        <a href="/third.html" class="pale">Pricing</a>
                    </li>
                    <li>
                        <a href="/fourth.html" class="pale">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="header-wrapper__menu-section header-wrapper__menu-section__user">
                <ul>
                    <li>
                        <a href="#" class="pale">Login</a>
                    </li>
                    <li>
                        <a class="menu-button button button-default" href="#">Try it free</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-anchor" id="mobile-menu-button">
            <img src="images/mobile_anchor.svg" />
        </div>
    </div>
</header>

<main>
