<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RatesDown</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="icon" sizes="64x64" href="images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#162B4D" />
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="application-name" content="RatesDown"/>
    <meta name="msapplication-TileColor" content="#162B4D"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#162B4D">

</head>
<body>

<header>
    <!-- header here -->
</header>

<main>
