@import (less) 'includes/normalize.css';
@import 'includes/variables.less';

html, body {
  font-family: "Montserrat", sans-serif;
  background-color: @headerBg;
}

main {

}

header {
  width: 100%;
  background-color: @headerBg;
  height: 96px;
}

section {

  background-color: @sectionDefaultBg;
  padding: 130px 30px;

  @media screen and (max-width: @breakpoint-tablet) {
    padding: 65px 30px;
  }

  @media screen and (max-width: @breakpoint-phone) {
    padding: 45px 20px;
  }

  .section-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: @breakpoint-tablet) {
      flex-direction: column-reverse;
      max-width: 100%;
      margin: 0;
    }

    .section-column {
      width: 50%;
      flex: 1 1 auto;
      box-sizing: border-box;

      @media screen and (max-width: @breakpoint-tablet) {
        width: auto;
      }

      &.column--left {
        padding-right: 15px;

        @media screen and (max-width: @breakpoint-tablet) {
          padding-right: 0;
        }

      }
      &.column--right {
        padding-left: 115px;

        @media screen and (max-width: @breakpoint-tablet) {
          padding-left: 0;
          margin-bottom: 50px;
        }

      }
      .section-column__text {

        @media screen and (max-width: @breakpoint-tablet) {
          text-align: center;
        }

        .section-column__title {
          font-weight: bold;
          font-size: 36px;
          color: @headerColor;
          line-height: 48px;
          margin-bottom: 30px;

          @media screen and (max-width: @breakpoint-phone) {
            font-size: 28px;
            line-height: 36px;
          }

        }
        p {
          font-size: 16px;
          font-weight: 400;
          // TODO: in design this color is defined via opacity applied to original text color
          color: @textColor;
          line-height: 24px;
          margin-bottom: 30px;

          @media screen and (max-width: @breakpoint-tablet) {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
          }

          @media screen and (max-width: @breakpoint-phone) {
            max-width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }

        }
        .section-column__subtitle {
          margin-top: 50px;
          line-height: 24px;
          font-size: 16px;
          color: @subtitleColor;
        }
        .mouse-scroll-icon {
          margin-top: 45px;
          margin-left: 17px;

          @media screen and (max-width: @breakpoint-tablet) {
            margin-left: 0;
          }

        }
      }
      .section-image {
        width: 100%;
      }
    }
  }

  &.section--lead {
    .section-wrapper {
      .section-column {
        &.column--left {
          padding-right: 15px;
        }
        &.column--right {
          padding-left: 15px;
        }
        .section-column__text {
          .section-column__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 64px;

            @media screen and (max-width: @breakpoint-phone) {
              font-size: 32px;
              line-height: 40px;
            }

          }
          p {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;

            @media screen and (max-width: @breakpoint-phone) {
              font-size: 18px;
              line-height: 28px;
            }

          }
          button {
            margin-top: 15px;
          }
        }
      }
    }
  }

  &.section--gray {
    background-color: @sectionBg;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (max-width: @breakpoint-tablet) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

  }

  &.section--reserve {
    .section-wrapper {
      flex-direction: row-reverse;

      @media screen and (max-width: @breakpoint-tablet) {
        flex-direction: column-reverse;
      }

      .section-column {
        &.column--left {
          padding: 0 0 0 15px;
          @media screen and (max-width: @breakpoint-tablet) {
            padding: 0;
          }
        }
        &.column--right {
          padding: 0 115px 0 0;
          @media screen and (max-width: @breakpoint-tablet) {
            padding: 0;
          }
        }
      }
    }
  }

  &.section--hero {
    // TODO: layers filters are used in design to overlay pattern over a color
    background: #58D9A3; /* url("../images/bg-hero.png") center center no-repeat; */
    padding-top: 70px;
    .section-wrapper {
      flex-direction: column;
      text-align: center;
      .section-hero__title {
        font-weight: bold;
        color: white;
        font-size: 24px;
        line-height: 34px;

        @media screen and (max-width: @breakpoint-phone) {
          font-size: 20px;
          line-height: 28px;
        }

      }
      .section-hero__text {
        font-size: 16px;
        //TODO: this color is generated from opacity in design, c'mon
        color: @whiteTextColor;
        line-height: 24px;

      }
    }
  }

  &.section--split {
    padding-top: 100px;
    padding-bottom: 100px;
    .section-wrapper {

      @media screen and (max-width: @breakpoint-tablet) {
        flex-direction: column;
      }

      .section-column {
        &.column--left {

          @media screen and (max-width: @breakpoint-tablet) {
            margin-bottom: 50px;
          }

        }
        &.column--right {

          @media screen and (max-width: @breakpoint-tablet) {
            margin-bottom: 0;
          }

        }
        .section-column__text {
          text-align: center;
          .section-column__title {
            color: @headerColor;
            font-size: 36px;
            font-weight: bold;
            line-height: 48px;
            margin-bottom: 16px;

            @media screen and (max-width: @breakpoint-phone) {
              font-size: 24px;
              line-height: 28px;
            }

          }
          p {
            color: @textColor;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &.section--topic {
    .section-wrapper {

      @media screen and (max-width: @breakpoint-tablet) {
        flex-direction: row;
      }

      @media screen and (max-width: @breakpoint-phone) {
        flex-direction: column;
      }

      .section-column {
        &.column--left {
          width: 260px;
          padding: 0;
          align-self: start;
          flex: 1 0 auto;

          @media screen and (max-width: @breakpoint-tablet) {
            width: 180px;
          }

          @media screen and (max-width: @breakpoint-phone) {
            width: auto;
            margin-bottom: 15px;
          }

          .topic-text {
            line-height: 24px;
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: @textColor;
          }
        }

        &.column--right {
          width: auto;
          padding: 0;

          @media screen and (max-width: @breakpoint-tablet) {
            margin-bottom: 0;
          }

        }

        .section-column__text {
          padding-left: 34px;

          @media screen and (max-width: @breakpoint-tablet) {
            text-align: left;
          }

          @media screen and (max-width: @breakpoint-phone) {
            padding-left: 0;
          }

          .section-column__title {
            line-height: 48px;
            font-size: 36px;
            color: @headerColor;
            margin-bottom: 47px;

            @media screen and (max-width: @breakpoint-tablet) {
              margin-bottom: 0;
            }

            @media screen and (max-width: @breakpoint-phone) {
              font-size: 28px;
              line-height: 38px;
            }

          }
          p {
            color: @textColor;
            line-height: 28px;
            font-size: 20px;

            @media screen and (max-width: @breakpoint-tablet) {
              margin-left: 0;
            }

            @media screen and (max-width: @breakpoint-phone) {
              font-size: 18px;
              line-height: 26px;
            }

          }
          button {
            margin-top: 16px;
          }
        }
      }
    }
  }

  &.section--two-images {
    padding-top: 0;
    padding-bottom: 0;
    .section-wrapper {

      @media screen and (max-width: @breakpoint-tablet) {
        flex-direction: row;
      }

      .section-column {
        font-size: 0;
        line-height: 0;
        img {
          width: 100%;
        }
        &.column--left {
          padding-right: 0;
        }
        &.column--right {
          padding-left: 0;
          @media screen and (max-width: @breakpoint-tablet) {
            margin-bottom: 0;
          }
        }
      }
      .delimiter {
        width: 96px;
        height: 96px;
        border-radius: 100px;
        background-color: #58D9A3;
        box-shadow: 0 24px 24px rgba(0, 218, 162, .12);
        margin: 0 42px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: @breakpoint-phone) {
          width: 31px;
          height: 31px;
          margin: 0 12px;
        }

        svg {

          @media screen and (max-width: @breakpoint-phone) {
            width: 15px;
          }

        }

      }
    }
  }

  &.section--single--column {
    .section-wrapper {
      .section-column {
        text-align: center;
        .section-column__title {
          color: @headerBg;
          margin-bottom: 30px;
          font-size: 36px;
          line-height: 48px;
          font-weight: bold;
          &.section-column__title--short {
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .section-column__text {
          color: @textColor;
          margin-bottom: 60px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  &.section--single--column--lead {
    .section-wrapper {
      .section-column {
        .section-column__title {
          font-size: 48px;
          line-height: 64px;
          font-weight: bold;

          @media screen and (max-width: @breakpoint-tablet) {
            //TODO: ...
          }

        }
        .section-column__text {
          line-height: 28px;
          font-size: 20px;
          color: @textColor;
        }

        .section-column__image {
          img {
            @media screen and (max-width: @breakpoint-tablet) {
              width: 100%;
            }
          }
        }

      }
    }
  }

  &.section--pricing--plans {
    .section-wrapper {
      .section-column {

        .section-column__title {
          font-size: 24px;
          line-height: 34px;
          font-weight: bold;
          margin-bottom: 60px;
        }

        .section-inner-wrapper {
          display: flex;

          .section-inner-wrapper__column {
            flex: 0 0 auto;
          }

          &.section-inner-wrapper--pricing-plans {
            justify-content: space-between;

            .section-inner-wrapper__column {
              width: 358px;
              background-color: white;
              padding: 50px 32px;
              box-sizing: border-box;
              text-align: center;
              border-radius: 6px;

              .inner-wrapper-title {
                font-size: 36px;
                line-height: 48px;
                font-weight: bold;
                margin-bottom: 16px;
                color: @headerBg;
              }

              .inner-wrapper-subtitle {
                color: @subtitleColor;
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 20px;
                font-weight: bold;
              }

              .divider-line {
                width: 24px;
                height: 2px;
                background-color: @grayColor;
                margin: 0 auto 26px auto;
              }

              .inner-wrapper-price {
                font-size: 16px;
                line-height: 24px;
                color: @textColor;
                margin-bottom: 30px;
                min-height: 24px;
              }

              .inner-wrapper-footer {
                color: @textColor;
                font-size: 12px;
                line-height: 16px;
                margin-top: 24px;
              }

            }

            margin-bottom: 100px;

          }

          &.section-inner-wrapper--plans-features {
            justify-content: space-between;

            .section-inner-wrapper__column {
              width: 358px;
              display: flex;

              ul.features {
                padding: 0;
                max-width: 210px;
                margin: 0 auto;
                li {
                  list-style: none;
                  text-align: left;

                  svg {
                    width: 16px;
                    float: left;
                    position: relative;
                    top: 7px;
                  }

                  span {
                    margin-left: 32px;
                    display: block;
                    color: @headerBg;
                    font-size: 16px;
                    line-height: 32px;
                  }

                }
              }

            }
          }

        }
      }
    }
  }

  &.section--faq {
    text-align: left;
    .section-wrapper {
      .section-column {
        .section-column__title {
          color: @headerBg;
          font-size: 36px;
          line-height: 48px;
          text-align: left;
          margin-bottom: 67px;
        }
        ul.faq-wrapper {
          padding: 0;
          margin: 0;
          text-align: left;

          li {
            list-style: none;
            display: block;
            margin-bottom: 16px;

            background-color: @grayBg;
            padding: 30px;
            border-radius: 6px;

            .faq-header {
              font-size: 20px;
              line-height: 28px;
              color: @headerBg;

              svg {
                float: right;
                width: 8px;
                height: 8px;
                position: relative;
                top: 10px;

                path {
                  fill: #0065FF;
                }
              }

            }

            .faq-content {
              margin-top: 20px;
              line-height: 24px;
              display: none;
            }

            &.faq-open {

              .faq-content {
                display: block;
              }

              svg {
                transform: rotate(-180deg);
              }

            }

          }

        }
      }
    }
  }

  &.section--bg-green {
    overflow: hidden;
    position: relative;
    padding: 130px 0;

    .section-wrapper {
      position: relative;
      z-index: 2;
      padding: 0 30px;

      .section-column {

        position: relative;

        &:before {
          content: "";
          width: 445px;
          height: 445px;
          background-color: white;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          z-index: 3;
          bottom: 160px;
          opacity: 0.12;
          border-radius: 6px;
          margin-left: 120px;
        }

        &:after {
          content: "";
          width: 445px;
          height: 445px;
          background-color: white;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          z-index: 3;
          bottom: 160px;
          opacity: 0.12;
          border-radius: 6px;
          margin-right: 120px;
        }

        .section-column__image {

         /*
          .temp-shadow {

            display: inline-block;
            position: relative;
            z-index: 4;

            &:after {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: black;
              opacity: 0.6;
              color: white;
              font-weight: bold;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              content: "Coming soon..";
              top: 0;
              left: 0;
              z-index: 5;
              border-radius: 6px;
            }

          }*/

        }

      }

    }

    // I don't like this, rework maybe?
    &:after {
      content: "";
      width: 1000px;
      height: 1000px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      background-color: #58D9A3;
      border-radius: 10000px;
      position: absolute;
      bottom: -4950px;
      z-index: 1;
      transform: scale(10);
    }

  }

}

footer {
  background-color: @footerBg;
  width: 100%;
  height: 96px;
}

button {
  border-radius: 4px;
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  padding: 10px 16px;
  min-width: 128px;
  border: 1px solid transparent;

  &.button-default {
    background-color: @buttonColor;
    border-color: @buttonColor;
    color: @buttonText;
    box-shadow: 0 24px 24px rgba(0, 101, 255, 0.12);
    &:hover {
      background-color: @buttonColorHover;
    }
  }

  &.button-light {
    background-color: white;
    border: 1px solid rgba(120, 144, 156, 0.24);
    color: @headerBg;
    &:hover {

    }
  }

  &.button-offer {
    width: 100%;
  }

}